.top-bar {
    padding-top: 5px;
}

.search-bar {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.search-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}